@import url('https://fonts.googleapis.com/css2?family=My+Soul&display=swap');

*{
  margin: 0;
  padding: 0;
}

body{
  background-color: #FCF6F5FF

  ;
}

/* Nav Bar  */
.Header h1{
  font-family: "My Soul";
  font-weight: 700;
  font-size: 35px;
}

.Nav{
  background-color: #990011FF;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 50px 10%;
}

.navLinks{
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
}

.navLinks li{
  display: inline-block;
  list-style: none;
  font-size: 16px;
  padding: 0px 20px;
  margin: 10px 10px 10px 10px;
}

.navLinks li a{
  transition: all 0.3s ease 0s;
}
.navLinks li a:hover{
  color: #0088a9;
}

/* Products */


.container{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.productCardContainer{
  display: flex;
  flex-wrap: wrap;
  padding: auto;
  padding: 10%;
  margin: 20px 70px;
  justify-content: center;
}

.productCard{
  width: 380px;
  position: relative;
  box-shadow: 0px 2px 7px #990011FF;
  margin: 50px auto;
  background: #FCF6F5FF;
}

img{
  max-width: 100%;
  max-height: 100%;
}

.productImage{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
  padding: 50px;
  background: #f0f0f0;
}

.productInfo{
  padding: 30px;
}

.productCategory{
  display: block;
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  color: rgba(95, 95, 95, 0.805);
  margin-bottom: 18px;
}

.productTitle h4{
  font-weight: 600;
  display: block;
  margin-bottom: 18px;
  text-transform: uppercase;
  color: #363636;
  text-decoration: none;
}

.productBottom{
  overflow: hidden;
  border-top: 1px solid #eee;
  padding-top: 20px;
}

.productPrice{
  font-size: 18px;
  font-weight: 700;
  color: #181f5d;
}